@{
    ViewData["Title"] = "Welcomw";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <p>
            Application created for studies in .NET
        </p>
    </div>
</div>