@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Edit";
}


<h2>@ViewData["Title"]</h2>

<div class="card text-white bg-secondary">
    <div class="card-header">
        <h4>Edit Form</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="POST" id="form-seller">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Name" placeholder="Name">
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <input type="hidden" asp-for="Id"/>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-secondary" style="width: 150px" asp-action="Index">Cancel</a>
            </div>
            <div class="col-md-5">
                <div class="btn btn-success" style="width: 150px" type="submit" onclick="sendFormSeller()">Save</div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

<script>
    function sendFormSeller() {
        document.getElementById("form-seller").submit();
    }
</script>